<launch>
	<!-- Global params -->
	<arg name="teach_dir" value="/home/dominic/linenav_officetest/ref_imgs" />

	<!-- Load image files for matching -->
	<!-- node pkg="line_navigation_ros" type="navigation_online" name="navigation_online" args="$(arg teach_dir)" output="screen" launch-prefix="gdb -ex run -args" -->
	<node pkg="line_navigation_ros" type="navigation_online" name="navigation_online" args="$(arg teach_dir)" output="screen">
		<rosparam param="base_forward_velocity">0.35</rosparam>
		<rosparam param="max_turning_speed">0.93</rosparam>
		<rosparam param="turning_slow_factor">0.3</rosparam>
		<rosparam param="turning_threshold">0.3</rosparam>
		<!-- random camera matrix values - needed for jacobian to go from image -> real world coords -->
		<rosparam param="K11">700</rosparam> 
		<rosparam param="K13">376</rosparam>
		<rosparam param="K22">700</rosparam>
		<rosparam param="K23">240</rosparam>

		<rosparam param="image_width">752</rosparam>
		<rosparam param="image_height">480</rosparam>

		<remap from="navigation_online/image" to="ros_indigosdk_occam/image0" />
        <remap from="cmd_vel" to="jackal_velocity_controller/cmd_vel" />
	</node>
</launch>